*{
    margin: 0%;
    padding: 0%;
}
marquee{
    background-color: #999;
}
.container{
    width:100%;
    height:100%;
    background-color:rgb(101, 101, 176);
    background-position: center;
    background-size:cover ;
}
.card{
    justify-content: right;
    color: white;
    width:300px;
    height:300px;
    display:inline-block;
    border-color: black;
    background-color: black;
    border:bold;
    border-style: solid;
    border-width: 8px;
    padding: 20px 30px;
    border-radius: 50px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 40px 45px;
    background-position: center;
    background-size:cover;
    transition:transform 0.5;
}

.card1{
    background-image: url(baudha2.jpg);
}
.card2{
    background-image: url(PATAN4.JPG);
}
.card3{
    background-image: url(bhaktapur.jpg);
}
.card4{
    background-image: url(BASANTAPUR.JPG);
}
.card5{
    background-image: url(SYAMBHU.JPG);
}
.card6{
    background-image: url(chandragiri.jpg);
}
.card7{
    background-image: url(Pashupatinath.jpg);
}
.card8{
    background-image: url(baghbhairab.jpg);
}
.card9{
    background-image: url(Namobuddhamain2.jpg);
}

.card10{
    background-image: url(whitegumba.jpg);
}
.card11{
    background-image: url(dakxinkali2.jpg);
}
.card:hover{
    transform: translateY(-30px);
}
h3{
    color:rgb(238, 236, 236);
    text-shadow: 0 0 9px #999;
}
h1{
    padding: 20px;
    font-size: 40px;
}
p{
    font-size: small;
    color:  #ded6d6;
}