*{
    margin:0;
    padding:2px;
    font-family: 'Alkatra', cursive;
}
.header{
    min-height: 100%;
    width:100%;  
    background-size:cover;
    position:relative;
    background-repeat:no-repeat;
}
.header nav{
    padding:2% 6%;;
    align-items:right;
    margin: 30px;
}
h1{
    float:center;
    font-size:36px;
    font-weight:bold;
    /* text-align:left; */
    text-transform:uppercase;
}
.nav-links{
    padding: 15px;
    background-color:rgb(101, 101, 176);
    padding-top:10px;
    flex: 1;
    text-align: center;
    overflow-x:hidden ;
}
.nav-links li {
    background-color: #aeb6cc;
    display:inline-block;
    padding: 5px 40px;
    position: relative;
    border-radius: 40px;
}
.nav-links ul li a{
    color:black;
    justify-content: space-between;
    text-decoration: none;
    font-size:16px;
    text-transform: uppercase;
    font-weight: bold;
    transition: .3s ease;

}
.nav-links ul a:hover {
    justify-content:space-between;
    display:inline-block;
    position: relative;
    background-color: #fff;
    padding: 5px 40px;
    border-radius: 40px;
}
footer{
    background-color: #7c8397;
}
aside
{
    float:right;
    width:18%;
    border-radius: 3%;
    border:solid;
}
aside ul{
    background-color: #efefef;
}
aside a{
    color:black; 
}
aside h4{
    background-color:rgb(101, 101, 176);
    color:#fff;
}
section{
    padding:10px;
    width: 70%;
    background-color: #f0e8e8;
}
.main img {
    border-width: 60px;
    border:solid;
    border-color: white;
    border-radius:30px;
}

